:root {
  --pink: #e84393;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  outline: none;
  border: none;
  text-decoration: none;
  text-transform: capitalize;
  transition: 0.2s linear;
}

html {
  font-size: 62.5%;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  overflow-x: hidden;
}

section {
  padding: 6rem 0;
}

.logo {
  display: flex; /* Folosește Flexbox pentru alinierea elementelor */
  align-items: center; /* Centrează imaginea și textul pe axa verticală */
  justify-content: flex-start; /* Asigură că logo-ul este la stânga */
}

.logo-image {
  width: 70px; /* Lățimea imaginii */
  height: 70px; /* Înălțimea imaginii */
  object-fit: contain; /* Păstrează proporțiile imaginii */
  margin-right: 10px; /* Adaugă un mic spațiu între logo și text (opțional) */
}

.heading {
  text-align: center;
  font-size: 4rem;
  color: #333;
  padding: 1rem;
  margin: 2rem 0;
  background: rgba(255, 51, 153, 0.05);
  font-family: "Cormorant Garamond", serif;
}

.heading span {
  color: var(--pink);
  font-family: "Cormorant Garamond", serif;
}

.btn {
  display: inline-block;
  margin-top: 1rem;
  border-radius: 5rem;
  background: #333;
  color: #fff;
  padding: 0.9rem 3.5rem;
  cursor: pointer;
  font-size: 2rem;
  font-family: "Cormorant Garamond", serif;
}

.btn:hover {
  background: var(--pink);
}

header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  background: #fff;
  padding: 2rem 9%;
  padding-left: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  font-family: "Cormorant Garamond", serif;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
}

header .logo {
  font-size: 4rem;
  color: #333;
  font-family: "Lora", serif;
  align-items: left;
}

header .logo span {
  color: var(--pink);
}

header .navbar a {
  font-size: 3rem;
  padding: 0 1.5rem;
  color: #666;
  font-family: "Cormorant Garamond", serif;
}

header .navbar a:hover {
  color: var(--pink);
}

header #toggler:checked ~ .navbar {
  display: block;
}

header #toggler {
  display: none;
}

header .fa-bars {
  font-size: 3rem;
  color: #333;
  border-radius: 0.5rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  border: 2px solid rgba(0, 0, 0, 0.3);
  display: none;
}

.home {
  display: flex;
  align-items: center;
  min-height: 100vh;
  background-image: url("images/bkg2.jpg");
  background-size: cover;
  background-position: center;
  display: flex;
  justify-content: center;
  text-align: center;
}

.home .content {
  max-width: 50rem;
  padding: 2rem;
}

.home .content h3 {
  font-size: 6rem;
  color: #cf1d52;
  font-family: "Cormorant Garamond", serif;
  -webkit-text-stroke: 1px #c652be; /* contur negru peste text roz */
}

.home .content span {
  font-family: "Cormorant Garamond", serif;
  font-size: 3.5rem;
  color: var(--pink);
  padding: 1rem 0;
  line-height: 1.5;
}

.home .content p {
  font-family: "Cormorant Garamond", serif;
  font-size: 2rem;
  color: #444;
  padding: 1rem 0;
  line-height: 1.5;
  text-transform: none;
}
#about-page {
  background-image: url("images/bkg1.jpg");
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 100vh;
  padding-top: 9rem;
  justify-content: flex-end; /* Aliniază containerul pe partea dreaptă */
  text-decoration: none;
}

#about-page .content {
  max-width: 1200px; /* Limitează lățimea pentru a nu fi prea larg */
  padding: 20px;
  background-color: #fff; /* Fundal alb pentru text */
  border-radius: 50px; /* Colțuri rotunjite */
  box-shadow: 0 15px 30px rgba(235, 126, 231, 0.268); /* Adaugă umbră subtilă pentru un efect de adâncire */
  margin-left: auto; /* Mărește marginea stângă pentru a alinia la dreapta */
  margin-right: 0; /* Asigură-te că nu există margine pe dreapta */
  margin-top: 8rem;
  text-decoration: none;
}

#about-page .content p {
  font-size: 2rem;
  line-height: 1.6;
  color: #333;

  font-family: "Cormorant Garamond", serif;
  text-decoration: none;
  text-transform: none; /* Dezactivează majusculele automtice */
  text-align: justify; /* Poți ajusta alinierea textului */
  text-indent: 30px; /* Adaugă indentare (spațiu înainte de primul rând al paragrafului) */
}

#home-page {
  background-image: none;
}
.about .row {
  display: flex;
  align-items: center;
  gap: 2rem;
  flex-wrap: wrap;
  padding: 2rem 0;
  padding-bottom: 3rem;
}

.about .row .video-container {
  flex: 1 1 40rem;
  position: relative;
}

.about .row .video-container video {
  width: 100%;
  border: 1.5rem solid #fff;
  border-radius: 0.5rem;
  box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.1);
  height: 100%;
  object-fit: cover;
}

.about .row .video-container h3 {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 3rem;
  background: #fff;
  width: 100%;
  padding: 1rem 2rem;
  text-align: center;
  mix-blend-mode: screen;
}

.about .row .content {
  flex: 1 1 40rem;
}

.about .row .content h3 {
  font-size: 3rem;
  color: var(--pink);
  font-family: "Cormorant Garand ", serif;
}

.about .row .content p {
  font-size: 1.5rem;
  color: #999;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
  font-family: "Cormorant Garamond ", serif;
  text-transform: none;
}

.about .row .content p strong {
  font-size: 1.5rem;
  color: #999;
  padding: 0.5rem 0;
  padding-top: 1rem;
  line-height: 1.5;
  font-family: "Cormorant Garamond ", serif;
  text-transform: none;
  font-weight: bold; /* Asigură-te că textul rămâne îndrăzneț */
  color: #e84393; /* Culoare personalizată pentru <strong> */
  font-size: 2rem; /* Dimensiune text pentru <strong> */
}

/* Stiluri pentru textul din <span> aflat în interiorul <strong> */
.about .row .content p strong span {
  color: #333; /* Culoare pentru textul din <span> */
  font-family: "Cormorant Garamond ", serif;
  font-weight: normal; /* Poți face textul mai subțire decât cel din <strong> */
}

.icons-container {
  background: rgba(255, 51, 153, 0.05);
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
  padding-top: 5rem;
  padding-bottom: 5rem;
  justify-content: center;
}

.icons-container .icons {
  background: #ffffff;
  border: 1rem solid rgba(245, 63, 181, 0.218);
  padding: 2rem;
  display: flex;
  align-items: center;
  flex: 1 1 25rem;
  max-width: 25%;
  gap: 1rem;
}
.icons-container .icons img {
  width: 50px;
  height: auto;
  margin-right: 2rem;
}

.icons-container .icons h3 {
  color: #333;
  padding-bottom: 0.5rem;
  font-size: 2rem;
  font-family: "Cormorant Garamond", serif;
}

.icons-container .icons span {
  color: #555;
  font-size: 1.3rem;
}

.products .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem; /* Aceasta adaugă distanță între fiecare box */
}

.products .box-container .box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  position: relative;
  background: rgba(255, 51, 153, 0.05);
  padding: 2rem; /* Aceasta creează spațiu între marginea box-ului și conținutul din interior */
  margin: 1rem; /* Adaugă distanță între fiecare box */
}

.products .box-container .box .image {
  position: relative;
  text-align: center;
  padding-top: 2rem;
  overflow: hidden;
}

.products .box-container .box .image img {
  /* corectăm selectorul */
  width: 100%; /* Face imaginea să se adapteze containerului */
  max-width: 250px; /* Dimensiune maximă */
  height: auto; /* Păstrează proporțiile */
  display: block; /* Elimină spațiul alb sub imagine */
  margin: 0 auto; /* Centrează imaginea */
}

.products .box-container .box:hover .image .img {
  transform: scale(1.1);
}

.products .box-container .box .content {
  padding: 2rem;
  text-align: center;
  font-family: "Cormorant Garamond", serif;
}

.products .box-container .box .content h3 {
  font-size: 2.5rem;
  color: #333;
  font-family: "Cormorant Garamond", serif;
}

.products .box-container .box .content .price {
  font-size: 2.5rem;
  color: var(--pink);
  font-weight: bolder;
  font-family: "Cormorant Garamond", serif;
  padding-top: 1rem;
}

.products .heading {
  margin-top: 5rem;
}

.contact .heading {
  margin-top: 5rem;
}

.products .heading span {
  color: #e84393; /* Culoare personalizată pentru <strong> */
  font-family: "Cormorant Garamond", serif;
  font-size: 4.5rem; /* Dimensiune text pentru <strong> */
  font-weight: lighter;
}

.review .box-container {
  display: flex;
  flex-wrap: wrap;
  gap: 1.5rem;
}

.review .box-container .review-box {
  flex: 1 1 30rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  padding: 3rem 2rem;
  position: relative;
  border: 1rem solid rgba (0, 0, 0, 0.1);
}

.review .box-container .review-box .fa-quote-right {
  position: absolute;
  bottom: 3rem;
  right: 3rem;
  font-size: 6rem;
  color: #eee;
}

.review .box-container .review-box .stars i {
  color: var(--pink);
  font-size: 2rem;
}

.review .box-container .review-box p {
  color: #999;
  font-size: 2rem;
  line-height: 1.5;
  padding-top: 2rem;
  text-transform: none;
  font-family: "Cormorant Garamond ", serif;
}

.review .box-container .review-box .user {
  display: flex;
  align-items: center;
  padding-top: 2rem;
}

.review .box-container .review-box .user img {
  height: 6rem;
  width: 6rem;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 1rem;
}

.review .box-container .review-box .user h3 {
  font-size: 2rem;
  color: #333;
}

.review .box-container .review-box .user span {
  font-size: 1.5rem;
  color: #999;
}
.contact .row {
  display: flex;
  flex-wrap: wrap-reverse;
  gap: 1.5rem;
  align-items: center;
  max-width: 150rem; /* sau cât vrei tu */
  margin: 0 auto; /* centrează containerul */
  padding: 0 2rem; /* opțional, spațiu pe margini */
}

.contact .row form {
  flex: 1 1 40rem;
  padding: 2rem 2.5rem;
  box-shadow: 0 0.5rem 1.5rem rgba(0, 0, 0, 0.1);
  border: 1rem solid rgba(247, 145, 230, 0.138);
  background: #fff;
  border-radius: 0.5rem;
}

.contact .row .image {
  flex: 1 1 40rem;
}

.contact .row .image img {
  width: 100%;
}

.contact .row form .box {
  padding: 1rem;
  font-size: 1.7rem;
  color: #333;
  text-transform: none;
  border: 0.1rem solid rgba(0, 0, 0, 0.1);
  border-radius: 0.5rem;
  margin: 0.7rem 0;
  width: 100%;
}

.contact .row form .box:focus {
  border-color: var(--pink);
}

.contact .row form textarea {
  height: 15rem;
  resize: none;
}

.contact .heading {
  font-family: "Cormorant Garamond", serif;
  font-size: 4.5rem; /* Dimensiune text pentru <strong> */
  font-weight: lighter;
}

/* Stiluri pentru secțiunea footer */
.footer .box-container {
  display: flex;
  justify-content: space-between; /* Distribuie spațiul între cele două secțiuni */
  gap: 3rem; /* Spațiu între cele două secțiuni */
  padding: 2rem 9%; /* Adăugăm padding pe laturi pentru a da mai mult spațiu */
  background: rgba(255, 51, 153, 0.05);
}

.footer .box-container .footer-box {
  width: 45%; /* Fiecare div va ocupa 45% din lățimea containerului */
  text-align: center; /* Asigură alinierea conținutului pe verticală */
  padding: 2rem;
  border-radius: 1rem; /* Colțuri rotunjite pentru un aspect mai plăcut */
  background: #f9f9f9; /* Fundal deschis pentru a crea contrast */
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1); /* Adăugăm o umbră subtilă pentru adâncire */
  border: 3px solid #ea45bb5c; /* Linii subtile pentru a le delimita */
}
.footer .box-container .footer-box h3 {
  color: #333;
  font-size: 2.5rem;
  padding: 1rem 0;
  font-weight: bold; /* Întărește titlurile pentru mai mult impact */
  letter-spacing: 1px; /* Dă un spațiu ușor între litere */
  text-transform: none;
  font-family: "Cormorant Garamond ", serif;
}

.footer .box-container .footer-box a {
  display: block;
  color: #666;
  font-size: 2rem;
  padding: 1rem 0;
  transition: color 0.3s ease;
  text-transform: none;
  font-family: "Cormorant Garamond ", serif;
}

.footer .box-container .footer-box a:hover {
  color: var(--pink);
  font-weight: bold; /* Întărește linkul la hover */
}

.footer .box-container .footer-box img {
  width: 150px;
  height: auto;
  margin-top: 1rem;
  display: block;
  margin-left: auto; /* Aliniere automată pentru a o pune la centru */
  margin-right: auto;
  border-radius: 0.5rem; /* Colțuri rotunjite pentru imagine */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); /* Umbră subtilă pentru imagine */
}

/* Stiluri pentru credit */
.footer .credit {
  text-align: center;
  padding: 1.5rem;
  margin-top: 1.5rem;
  padding-top: 2.5rem;
  font-size: 2rem;
  color: #333;
  border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
  font-family: "Cormorant Garamond ", serif;
}

.footer .credit span {
  color: var(--pink);
  font-family: "Cormorant Garamond ", serif;
}


/* Modal styles */
.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
  padding-top: 60px;
}

.modal-content {
  background-color: #fefefe;
  margin: 5% auto;
  border-radius: 30px;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  max-width: 800px;
   text-transform: none;
}

.modal-body {
  display: flex;
  justify-content: space-between;
}

.modal-image {
  width: 45%;
}

.modal-image img {
  width: 100%;
  height: auto;
}

.modal-details {
  width: 50%;
  padding-left: 20px;
}

#modalName {
  font-size: 24px;
  font-weight: bold;
  font-family: "Cormorant Garamond ", serif;
}

#modalDescription {
  font-size: 18px;
  margin: 10px 0;
  font-family: "Cormorant Garamond ", serif;
  text-transform: none;
}

#modalPrice {
  font-size: 20px;
  color: rgb(228, 21, 193);
  font-family: "Cormorant Garamond ", serif;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  top: 10px;
  right: 25px;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

@media (max-width: 991px) {
  html {
    font-size: 55%;
  }
  header {
    padding: 2rem;
  }
  section {
    padding: 2rem;
  }
  .home {
    background-position: center;
  }
}

@media (max-width: 768px) {
  body {
    font-size: 18px;
  }

  header .fa-bars {
    display: block;
  }

  header .navbar {
    position: absolute;
    top: 100%;
    left: 0;
    right: 0;
    background: #eee;
    border-top: 0.1rem solid rgba(0, 0, 0, 0.1);
    display: block;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
  }

  #toggler:checked ~ .navbar {
    max-height: 768px;
  }

  header .navbar a {
    margin: 1.5rem 0;
    padding: 1.5rem;
    background: #fff;
    border: 0.3rem solid rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    display: none;
  }

  #toggler:checked ~ .navbar a {
    display: flex;
  }

  .home .content h3 {
    font-size: 5rem;
  }

  .home .content span {
    font-size: 2.5rem;
  }

  .icons-container .icons {
    flex: 1 1 100%;
    max-width: 100%;
  }

  .icons-container .icons img {
    width: 40px;
  }

  .icons-container .icons h3 {
    font-size: 2rem;
  }

  .icons-container .icons span {
    font-size: 1.7rem;
  }
}

@media (max-width: 450px) {
  html {
    font-size: 50%;
  }
  .heading {
    font-size: 3rem;
  }
}
